<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl3_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>girl3_face_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,454},{224,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl3_face_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,228},{224,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl3_face_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{224,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl3_face_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,680},{278,252}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{278,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl3_face_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,484},{278,252}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{278,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl3_panty.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,932},{179,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,225}}</string>
                <key>sourceSize</key>
                <string>{179,225}</string>
            </dict>
            <key>girl3_shirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{394,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,388}}</string>
                <key>sourceSize</key>
                <string>{394,388}</string>
            </dict>
            <key>girl3_stocking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{243,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,168}}</string>
                <key>sourceSize</key>
                <string>{243,168}</string>
            </dict>
            <key>girl3_stocking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,738},{192,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,252}}</string>
                <key>sourceSize</key>
                <string>{192,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl3_images.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b04b1186f8f13995563e6f2be60d66d$</string>
            <key>textureFileName</key>
            <string>girl3_images.png</string>
        </dict>
    </dict>
</plist>
