<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl4_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>girl4_face_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,422},{208,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{208,214}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl4_face_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,212},{208,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{208,214}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl4_face_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{208,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{208,214}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl4_face_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,761},{254,264}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{254,264}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl4_face_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,761},{254,264}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{254,264}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl4_panty.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,632},{189,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,115}}</string>
                <key>sourceSize</key>
                <string>{189,115}</string>
            </dict>
            <key>girl4_shirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,484},{275,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,209}}</string>
                <key>sourceSize</key>
                <string>{275,209}</string>
            </dict>
            <key>girl4_stocking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{493,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,243}}</string>
                <key>sourceSize</key>
                <string>{493,243}</string>
            </dict>
            <key>girl4_stocking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{574,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,208}}</string>
                <key>sourceSize</key>
                <string>{574,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl4_images.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aefc6685b5dcbf44f8e81d96055243e$</string>
            <key>textureFileName</key>
            <string>girl4_images.png</string>
        </dict>
    </dict>
</plist>
