<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>main_btn_sound_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{100,100}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>main_btn_sound_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{100,100}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>main_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{220,202}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{220,202}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>main_exit_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,354},{358,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,121}}</string>
                <key>sourceSize</key>
                <string>{358,121}</string>
            </dict>
            <key>main_exit_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,289},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>main_exit_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,224},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>main_exit_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{393,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,292}}</string>
                <key>sourceSize</key>
                <string>{393,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01f5a2d57f442295b333bee6c976a0c$</string>
            <key>textureFileName</key>
            <string>main_images.png</string>
        </dict>
    </dict>
</plist>
