<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gallery_button_gallery_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,141},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_gallery_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,14},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>gallery_button_panty_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,141},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_panty_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,141},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_shirt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,141},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_shirt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_stocking_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_stocking_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_stocking_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_button_stocking_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,73},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gallery_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,8}}</string>
                <key>sourceSize</key>
                <string>{366,8}</string>
            </dict>
            <key>gallery_gauge_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{366,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,10}}</string>
                <key>sourceSize</key>
                <string>{366,10}</string>
            </dict>
            <key>gallery_gauge_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{370,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,12}}</string>
                <key>sourceSize</key>
                <string>{370,12}</string>
            </dict>
            <key>gallery_shop_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,315},{461,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,278}}</string>
                <key>sourceSize</key>
                <string>{461,278}</string>
            </dict>
            <key>gallery_shop_button_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,14},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>gallery_shop_button_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,14},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>gallery_shop_event1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,141},{334,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,78}}</string>
                <key>sourceSize</key>
                <string>{334,78}</string>
            </dict>
            <key>gallery_shop_event2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{338,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,78}}</string>
                <key>sourceSize</key>
                <string>{338,78}</string>
            </dict>
            <key>gallery_shop_event3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,141},{338,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,78}}</string>
                <key>sourceSize</key>
                <string>{338,78}</string>
            </dict>
            <key>gallery_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,73},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>gallery_star_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,595},{135,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,318}}</string>
                <key>sourceSize</key>
                <string>{135,318}</string>
            </dict>
            <key>girl_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,14},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>hearts_need_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,14},{157,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,57}}</string>
                <key>sourceSize</key>
                <string>{157,57}</string>
            </dict>
            <key>hearts_need_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>hearts_need_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,14},{157,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,57}}</string>
                <key>sourceSize</key>
                <string>{157,57}</string>
            </dict>
            <key>hearts_need_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{393,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,292}}</string>
                <key>sourceSize</key>
                <string>{393,292}</string>
            </dict>
            <key>play_script_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,221},{333,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,92}}</string>
                <key>sourceSize</key>
                <string>{333,92}</string>
            </dict>
            <key>play_script_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{351,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,109}}</string>
                <key>sourceSize</key>
                <string>{351,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gallery_images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6f68637fb9861caf2bf90734ad91a48:ed57a1e4886c5744a7da28e065eddf01:cb47918c13f3804de4f81ad8c676d544$</string>
            <key>textureFileName</key>
            <string>gallery_images.png</string>
        </dict>
    </dict>
</plist>
