<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl1_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>girl1_face_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,450},{222,214}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{222,214}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl1_face_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,226},{222,214}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{222,214}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl1_face_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{222,214}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{222,214}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl1_face_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,484},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{272,260}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl1_face_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,674},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{272,260}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl1_panty.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,484},{255,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,162}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>girl1_shirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{296,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,246}}</string>
                <key>sourceSize</key>
                <string>{296,246}</string>
            </dict>
            <key>girl1_stocking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,674},{148,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{148,140}</string>
            </dict>
            <key>girl1_stocking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{153,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,175}}</string>
                <key>sourceSize</key>
                <string>{153,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl1_images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b24914ba57b63711e052c65f20fd5032$</string>
            <key>textureFileName</key>
            <string>girl1_images.png</string>
        </dict>
    </dict>
</plist>
