<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1213},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1089},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1025},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,963},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,837},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_back_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,955},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_fail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,837},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_fail_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_fail_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,947},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_fail_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,893},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_fail_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,767},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_fail_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,767},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,759},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>card_front_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,460},{124,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,186}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>gallery_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1135},{107,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,81}}</string>
                <key>sourceSize</key>
                <string>{107,81}</string>
            </dict>
            <key>gallery_btn_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>girl_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,460},{36,34}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>main_exit_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,533},{358,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,121}}</string>
                <key>sourceSize</key>
                <string>{358,121}</string>
            </dict>
            <key>main_exit_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>main_exit_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1019},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>main_exit_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,239},{393,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,292}}</string>
                <key>sourceSize</key>
                <string>{393,292}</string>
            </dict>
            <key>play_banner_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,393},{218,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,65}}</string>
                <key>sourceSize</key>
                <string>{220,65}</string>
            </dict>
            <key>play_banner_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,902},{164,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{164,65}}</string>
                <key>sourceSize</key>
                <string>{220,65}</string>
            </dict>
            <key>play_bg_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>play_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1068},{85,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
            <key>play_btn_gotoshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{78,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{78,59}</string>
            </dict>
            <key>play_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,744},{236,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,91}}</string>
                <key>sourceSize</key>
                <string>{236,91}</string>
            </dict>
            <key>play_icon_hand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1202},{78,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,101}}</string>
                <key>sourceSize</key>
                <string>{78,101}</string>
            </dict>
            <key>play_icon_hand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,809},{74,91}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,91}}</string>
                <key>sourceSize</key>
                <string>{78,101}</string>
            </dict>
            <key>play_icon_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,533},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>play_icon_touch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,665},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>play_icon_touch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,739},{54,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>play_popup_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{389,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,193}}</string>
                <key>sourceSize</key>
                <string>{389,193}</string>
            </dict>
            <key>play_popup_background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{389,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,312}}</string>
                <key>sourceSize</key>
                <string>{389,312}</string>
            </dict>
            <key>play_popup_event.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,586},{253,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,156}}</string>
                <key>sourceSize</key>
                <string>{253,156}</string>
            </dict>
            <key>play_popup_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{401,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,235}}</string>
                <key>sourceSize</key>
                <string>{401,235}</string>
            </dict>
            <key>play_popup_outline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,347}}</string>
                <key>sourceSize</key>
                <string>{401,347}</string>
            </dict>
            <key>play_script_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{333,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,92}}</string>
                <key>sourceSize</key>
                <string>{333,92}</string>
            </dict>
            <key>play_script_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,656},{351,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,109}}</string>
                <key>sourceSize</key>
                <string>{351,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play_images.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca25dcfacc483efe0fa4f1940bd97d1$</string>
            <key>textureFileName</key>
            <string>play_images.png</string>
        </dict>
    </dict>
</plist>
