<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hearts_need_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,132},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>hearts_need_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,67},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>hearts_need_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>hearts_need_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1569},{393,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,292}}</string>
                <key>sourceSize</key>
                <string>{393,292}</string>
            </dict>
            <key>play_icon_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,508},{56,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>stage_select_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>stage_select_betting_peach.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,599},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>stage_select_bg_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,197},{142,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,58}</string>
            </dict>
            <key>stage_select_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,381},{85,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
            <key>stage_select_btn_gallery.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,599},{125,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>stage_select_btn_play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,129},{125,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>stage_select_btn_play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{125,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>stage_select_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,256},{123,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,73}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>stage_select_done_recharging.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,562},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>stage_select_moniter_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{458,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{458,276}}</string>
                <key>sourceSize</key>
                <string>{460,280}</string>
            </dict>
            <key>stage_select_monitor_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,447},{63,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{63,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1827},{123,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl1_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1701},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1702},{123,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl2_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1701},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1576},{123,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl3_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1577},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1576},{123,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl4_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1451},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1452},{123,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl5_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1451},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1326},{123,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_face_girl6_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1326},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stage_select_preview_girl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1569},{447,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{447,267}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>stage_select_preview_girl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{447,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{447,267}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>stage_select_preview_girl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1057},{447,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{447,267}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>stage_select_preview_girl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{447,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{447,267}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>stage_select_preview_girl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,788},{447,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{447,267}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>stage_select_preview_girl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{447,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{447,267}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>stage_select_preview_unavailable.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,515},{451,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,271}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>stage_select_recharging.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,447},{94,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,14}}</string>
                <key>sourceSize</key>
                <string>{94,14}</string>
            </dict>
            <key>stage_select_script_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1326},{248,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,124}}</string>
                <key>sourceSize</key>
                <string>{248,124}</string>
            </dict>
            <key>stage_select_script_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,257},{256,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,131}}</string>
                <key>sourceSize</key>
                <string>{256,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage_select_images.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:832a830ac374de2516181546531e0a35$</string>
            <key>textureFileName</key>
            <string>stage_select_images.png</string>
        </dict>
    </dict>
</plist>
