<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gallery_button_gallery_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,942},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,874},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,633},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,806},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,738},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,942},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,874},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,633},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_gallery_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{28,26}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_panty_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,806},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_panty_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,738},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_shirt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,905},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_shirt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,633},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_stocking_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,905},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_stocking_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,633},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_stocking_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_button_stocking_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,633},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,370},{366,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,8}}</string>
                <key>sourceSize</key>
                <string>{366,8}</string>
            </dict>
            <key>gallery_gauge_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{366,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{366,10}}</string>
                <key>sourceSize</key>
                <string>{370,14}</string>
            </dict>
            <key>gallery_gauge_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{370,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,12}}</string>
                <key>sourceSize</key>
                <string>{370,14}</string>
            </dict>
            <key>gallery_shop_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{461,278}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{461,278}}</string>
                <key>sourceSize</key>
                <string>{465,280}</string>
            </dict>
            <key>gallery_shop_button_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,705},{50,27}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{50,27}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>gallery_shop_button_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{70,27}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{70,27}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>gallery_shop_event1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{334,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{334,78}}</string>
                <key>sourceSize</key>
                <string>{340,90}</string>
            </dict>
            <key>gallery_shop_event2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{338,78}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{338,78}}</string>
                <key>sourceSize</key>
                <string>{340,90}</string>
            </dict>
            <key>gallery_shop_event3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{338,78}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{338,78}}</string>
                <key>sourceSize</key>
                <string>{340,90}</string>
            </dict>
            <key>gallery_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,738},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{66,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gallery_star_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{135,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,318}}</string>
                <key>sourceSize</key>
                <string>{135,318}</string>
            </dict>
            <key>girl_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,701},{36,34}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hearts_need_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,738},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>hearts_need_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,738},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>hearts_need_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
            <key>hearts_need_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{393,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,292}}</string>
                <key>sourceSize</key>
                <string>{393,292}</string>
            </dict>
            <key>play_script_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,282},{333,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,92}}</string>
                <key>sourceSize</key>
                <string>{333,92}</string>
            </dict>
            <key>play_script_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{351,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,109}}</string>
                <key>sourceSize</key>
                <string>{351,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gallery_images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c2576fa54127c67276faa87b57df37c$</string>
            <key>textureFileName</key>
            <string>gallery_images.png</string>
        </dict>
    </dict>
</plist>
