<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl6_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>girl6_face_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,738},{212,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{212,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl6_face_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,362},{212,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{212,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl6_face_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,154},{212,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{212,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl6_face_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,484},{264,252}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{264,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl6_face_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,570},{264,252}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{264,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl6_panty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{278,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,139}}</string>
                <key>sourceSize</key>
                <string>{278,139}</string>
            </dict>
            <key>girl6_shirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{216,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,150}}</string>
                <key>sourceSize</key>
                <string>{216,150}</string>
            </dict>
            <key>girl6_stocking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,738},{194,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,197}}</string>
                <key>sourceSize</key>
                <string>{194,197}</string>
            </dict>
            <key>girl6_stocking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{142,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,163}}</string>
                <key>sourceSize</key>
                <string>{142,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl6_images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39e09784d6584ee8c805e6c098490743$</string>
            <key>textureFileName</key>
            <string>girl6_images.png</string>
        </dict>
    </dict>
</plist>
