<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl5_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>girl5_face_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,454},{216,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl5_face_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,228},{216,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl5_face_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{216,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>girl5_face_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,750},{264,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{264,278}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl5_face_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,484},{264,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{264,278}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>girl5_panty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{335,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,137}}</string>
                <key>sourceSize</key>
                <string>{335,137}</string>
            </dict>
            <key>girl5_shirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,635},{369,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,365}}</string>
                <key>sourceSize</key>
                <string>{369,365}</string>
            </dict>
            <key>girl5_stocking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{172,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,128}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
            <key>girl5_stocking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,484},{201,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,149}}</string>
                <key>sourceSize</key>
                <string>{201,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl5_images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:112f81de9d3559feed4545e0a1021280$</string>
            <key>textureFileName</key>
            <string>girl5_images.png</string>
        </dict>
    </dict>
</plist>
